node_modules/
dist/

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/build/

# iOS build artifacts
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/DerivedData/
ios/App/output/

.DS_Store
